body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  .card {
      position: static;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      height: 400px;
      width: 350px;
      transition: 0.3s;
      padding-top: 10px;
      border: 10px;
      margin: 20px;
      align-content: center;
      text-align: center;
      background-image: url('http://www.urbanwaxx.com/images/large_marble_background.jpg');
      border-radius: 5px;

  }
  .card h4{
      font-size: 30px;
      text-align: center;
      margin: 5px;
  }
  .card h4 b{
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      letter-spacing: 3px;

  }

  .card h4 b:visited{
      text-decoration: none;
  }

  .card img{
      padding:5px;
      border:5px;
      width:400px;
      height:300px;
      border-radius: 5px;
  }
    .nav {
    display: flex;
    padding: 0 15px;
    position: static;
  }
  h1{
    font-size: 50px;
  }


  .nav h1 a{
    color: darkturquoise;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 2px;
    border: 1px solid transparent;
    transition: border 2s;
  }
  .nav h1 a:hover {
    border: 1px solid black;
    padding: 2px;
    color: black;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px; }

  h2 {
    color: #5e5e5e;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 0px; }

  h3 {
    color: #5e5e5e;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px; }

  ul {
    padding-top: 12px; }

  ul li {
    display: inline;
    padding: 15px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    border: 1px solid transparent;
    transition: border 2s;

    }

  ul li a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    border: 1px solid transparent;
    transition: border 2s; }

  ul li a:hover {
    border: 1px solid black;
    padding: 5px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px; }

  .container {
    display: flex;
    flex-direction: row;
    height: 100vh; }


  .product-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    margin: 3%;

    .product-col-1 {
      padding: 5px;
      width: 33%;
      img {
        width: 100%;
      }
    }
    .product-col-2 {
      padding: 5px;
      width: 62%;
    }
  }



  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.bigPicture {
  display: block;
  height: 500px;
  text-align: center;
}

.textBar {
  display: flex;
  height: 79px;
  background-color: mistyrose;
  margin-left: 57px;
  margin-right: 57px;
  font-style: italic;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.textTextBar {
  color: black;
  font-size: 35px;
}

.flex-container-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container-2 {
  display: flex;
  justify-content: center;
}
